[
    {
        "op": "add",
        "path": "/fields/System.Title",
        "from": null,
        "value": "{{ title }}"
    },
    {
        "op": "add",
        "path": "/fields/System.Description",
        "from": null,
        "value": "{{ description }}"
    },
    {
        "op": "add",
        "path": "/fields/System.AreaPath",
        "from": null,
        "value": "{{ area_path }}"
    },
    {
        "op": "add",
        "path": "/fields/System.IterationPath",
        "from": null,
        "value": "{{ iteration_path }}"
    },
    {
        "op": "add",
        "path": "/fields/Custom.Product",
        "from": null,
        "value": "{{ product }}"
    }
]
